ul svg {
    max-width: rem-calc($menu-icon-size);
    max-height: rem-calc($menu-icon-size);
    margin-right: 0 !important;
}
#icon-envelope-cropped path {

    fill: $dark-gray;
}

#block-topnav, .title-bar {
    display:none;
}
.js {
    #block-topnav,
    .title-bar {
        display:block;
    }
}
