ul svg {
    max-width: rem-calc($menu-icon-size);
    max-height: rem-calc($menu-icon-size);
    margin-right: 0 !important;
}
#icon-envelope-cropped path {

    fill: $dark-gray;
}

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;

        }

    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;

        }

    }

}
#block-topnav {
    display:none;
}
.js #block-topnav {
    display:block;
}
