.breadcrumbs {
    margin: 0 0 .5rem 0;
}
svg.icon--home path {
    fill: $dark-gray;
}
#icon-home path {
        fill: #767676;

}
.breadcrumbs li:not(:last-child)::after {
    position: relative;
    top: -3px;
    margin: 0 0.5rem;
    opacity: 1;
    content: "/";
    color: $dark-gray;

}
