form#search-block-form {
display:flex;
justify-content: space-around;
}
form#search-block-form .form-item {
$icon-size: 30;
  position: relative;
  input[type='search'] {
  }
  svg {
    position: absolute;
    
    path {
      fill: $secondary-color;
    
    }
    right:0;
    top: 0;
    padding-top: 4px;

    width: rem-calc($icon-size);
    height: rem-calc($icon-size);

  }

}

.site-search {

  @include breakpoint( medium ) {
    margin-top: $global-margin *2;
  }

  input[type='search'] {
    width: rem-calc(250);
    /*border-right: 0px;*/
    /*border-radius: 6px  0 0 6px ;*/
    /*//border-left: 0px !important;*/
    /*//border: 0px !important;*/
    /*box-shadow: none !important;*/
    /*height: 2.5rem;*/
  }
  input[type='submit'] {
    display: none;
    /*@include button-style( $white, auto, $primary-color );*/
    /*border-radius: 0 6px 6px 0;*/
    /*border: 1px solid #cacaca;*/
    /*border-left: 0px;*/

  }

}
