.sidebar-block,
%sidebar-block {

  @include callout-base();
  @include callout($light-gray);

  &__menu {
    @include menu-base();
    @include menu-direction(vertical);
  }

  &__menu__item {
    border-bottom: 1px solid $light-gray;
  }

  &__menu__item__link {
    font-size: .9rem;
    line-height: 1.2;
    padding: .5rem 0;
  }

  &__read-more {
    @extend .hollow;
    @extend .button;
    @extend .tiny;
    background-color: $white;
    color: $secondary-color;
    border-color: $secondary-color;
    @include button-expand(true);
  }

}
@include breakpoint(medium only) {
  .region--sidebar {
    @include grid-row();
  }

  .sidebar .block__wrapper {
    @include grid-column(48%);
  }
}


//--------------------------------------------------------------------------------
//-                             there be dragons...                              -
//--------------------------------------------------------------------------------
.sidebar .block__wrapper {
  @extend %sidebar-block; 
  ul {
    @extend %sidebar-block__menu; 
    li {
      @extend %sidebar-block__menu__item; 
      a {
        @extend %sidebar-block__menu__item__link; 
      }
    }
  }
  .more-link a {
    @extend %sidebar-block__read-more; 
  }
}
