//topnav branding

.upei-logo img {
  width: 100px;
}
//bg color
header {
  background: $primary-color;
}

.site-branding {

  @include breakpoint(medium) {
    @include media-object-container;
  }
  .site-logo {
    //@include media-object-section;
    display: block;
    margin: 0 auto;
      width: 230px;
      height: 83px;
    @include breakpoint(large) {
      width: 300px;
      height:107px;
    }
    .icon--cshr_logo_svg {
            //width: 230px;
      border: 1px solid $light-gray;
      background:$white;
      width: 230px;
      height: 83px;
    @include breakpoint(large) {
      height:107px;
      width: 300px;
    }

    }
    img {
        display: none;
      border: 1px solid $light-gray;
      //width: 230px;
    }
    @include breakpoint(medium) {
      @include media-object-section;
    }

  }
  .site-name {
    //@include media-object-section;
    /*@include breakpoint( small down ) {*/
    /*[>display: block;<]*/
    /*padding: 0 !important;*/
    /*}*/
    text-align: center;
    line-height: 1.3;
    margin: $global-margin/2;
    a {
      font-family: $droid;
      color:$white;
      font-size: rem-calc(26);
      @include breakpoint( large ) {
        font-size: 2.2em;
        line-height: 1.3;
      }
    }
    @include breakpoint(medium) {
      @include media-object-section;
    }
  }
}
@include breakpoint(medium) {
.site-search {
  float:left;
}
}
@include breakpoint(830px) {
  .site-branding {
    float:left;

  }
  .site-search {
    float: right;
    margin-top: $global-margin * 2;
  }
}
.site-search {
  $icon-size: 30;
  //input wrapper
  .form-item {
    position: relative;
  }
  form {
    justify-content: space-around;
    display:flex;
  }
  //input field
  input[type='search'] {
    width: rem-calc(250);
  }
  //icon
  svg {
    position: absolute;
    right:0;
    top: 0;
    padding-top: 4px;
    width: rem-calc($icon-size);
    height: rem-calc($icon-size);
    path {
      fill: $secondary-color;

    }
  }
}
#icon-search path {
    fill: $secondary-color;
}
